<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    // Use a "/my_namespace" namespace.
    namespace = '/my_namespace';
    debugger
    // Connect to the Socket.IO server.
    // The connection URL has the following format,
	// relative to the current page:
    // http[s]://<domain>:<port>[/<namespace>]
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    //var socket = io(namespace);

	// The callback function is invoked when a connection with the
    // server is established.
    socket.on('connect', function() {
    //socket.emit('my_event', {data: 'I\'m connected!'});
    a=1
    });

    socket.on('event', function(data) {
    alert(data)
    });
});
</script>

<body>
    <div id="output" ></div>
</html>
</body>